
/* Reset e Contêiner Principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh; 
  gap: 2.5rem; 
  background-color: white;
  padding-bottom: 2.5rem;
}

/* Estado de Carregamento */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 2.5rem;
  background-color: white;
  justify-content: center;
}

.loading-text {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
}

/* Cabeçalho */
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.header-title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
}

/* Botão de Voltar */
.back-button-wrapper {
  padding-top: 8px;
}

.back-button {
  background-color: #093A3E;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Formulário e Inputs */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 340px;
}

.label {
  display: block;
  font-size: 0.9375rem;
  color: #093A3E;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  height: 40px;
  border: 2px solid #093A3E;
  background-color: #093A3E !important; 
  color: white !important; 
  padding: 0.75rem;
  border-radius: 0.5rem;
  padding-left: 0.75rem !important;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5); 
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/* Botões de Ação (Salvar/Cancelar) */
.action-buttons-container {
  display: flex;
  gap: 0.75rem;
  margin-top: 1.5rem;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.flex-1 {
  flex: 1 1 0%;
  height: 60px;
}

.button-transition {
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
}

/* Botão CANCELAR (Vermelho) */
.cancel-button {
  background-color: #dc2626;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  border: 3px solid #b91c1c;
  border-radius: 8px;
  cursor: pointer;
}

/* Botão SALVAR (Verde) */
.save-button {
  background-color: #16a34a;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  border: 3px solid #15803d;
  border-radius: 8px;
  cursor: pointer;
}

/* Estado Desabilitado */
.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Garante que o hover em "disabled" não funcione */
.disabled-button:hover {
    background-color: #16a34a !important; 
    border-color: #15803d !important;
}